<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="char_count" class="alert alert-warning"></div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

<script type="text/javascript">
  $(function(){
    setCount();
    $('#micropost_content').keyup(setCount);
  });

  function setCount(){
    var count = $('#micropost_content').val().length;
    if(count <= 140) {
      $('#char_count').removeClass('alert-error');
      $('#char_count').addClass('alert-warning');
      $('#char_count').html((140 - count) + ' characters remaining');
    }
    else {
      $('#char_count').removeClass('alert-warning');
      $('#char_count').addClass('alert-error');
      $('#char_count').html((count - 140) + ' too many characters!');
    }
  }
</script>